

    <!-- Custom CSS -->
    <link href="../css/withMapStyle.css" rel="stylesheet">

    <!-- Nav Bar -->
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand title"><img style="max-width:100px; margin-top: -7px;" src="../img/logoWhite.png"></a>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container no-margin">
        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-12 little-space">
                    <p class="text-center title">what do you need?</p>
                </div>
                <div class="form-group col-lg-5">
                    <select class="selectpicker">
                    <option>Food</option>
                    <option>Fun</option>
                    <option>Fotel</option>
                    </select>                
                </div>
                <div class="form-group col-lg-2">
                    <label class="subtitle">at</label>
                </div>
                <div class="form-group col-lg-5">
                    <input id="time" class="form-control input-group-lg reg_name" type="text" name="stoptime"/>
                </div>
                <div class="col-lg-12">
                    <p class="text-center title">need more?</p>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
            </div>
        <div class="col-lg-9">
        <iframe height="600" width="900" " id="mappy" class="mappy"/>
        </div>
    </div>
    </div>
    <!-- /.container -->
    <div class="col-lg-12">
            <button type="button" class="btn btn-default btn-fixed btn-yellow">let's go!</button>
     </div>

    <script src="../js/maprender.js"></script>

